<!-- /Library/LaunchAgents -->
<!-- launchctl list clipd.plist -->
<!-- launchctl load -w /Users/normanchen/Library/LaunchAgents/clipd.plist -->
<!-- launchctl unload /Users/normanchen/Library/LaunchAgents/clipd.plist -->
<!-- rm /tmp/clipd.sock -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>clipd.plist</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/normanchen/Documents/clipd/daemon/daemon</string>
    </array>
    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/normanchen/Desktop/output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/normanchen/Desktop/error.log</string>
    <key>Debug</key>
    <true/>
</dict>
</plist>